name: auto-update

on:
  schedule:
   - cron: "0 20 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: prepare
        run: |
          python3 -m pip install aiohttp
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git submodule update --init --recursive
        
      - name: check and update
        run: |
          grep -A 1 'joplin/archive' net.cozic.joplin_desktop.yml > cur_archive
          cur_sha=$(grep -oE '[0-9a-z]{64}' cur_archive) 
          cur_ver=$(grep -oe 'joplin.*.tar' cur_archive)
          cur_ver=${cur_ver%.tar} && cur_ver=${cur_ver##*/}

          lat_ver=$(curl -s 'https://api.github.com/repos/laurent22/joplin/releases/latest' | jq -j .tag_name) 
          [ $lat_ver ] || exit 1
          echo -e "current: $cur_ver \nlatest : $lat_ver"

          if [[ "$cur_ver" != "$lat_ver" ]];then
              curl -sL "https://github.com/laurent22/joplin/archive/${lat_ver}.tar.gz" > joplin.tar
              lat_sha=$(sha256sum joplin.tar|head -c 64)
              date_=$(date '+%Y-%m-%d')

              sed -i "s/<releases>/<releases>\n    <release date=\"${date_}\" version=\"${lat_ver#v}\"\/>/g" joplin.appdata.xml
              sed -i "s/${cur_ver}/${lat_ver}/g;s/${cur_sha}/${lat_sha}/g" net.cozic.joplin_desktop.yml
              ./update-sources.sh
              git add joplin.appdata.xml net.cozic.joplin_desktop.yml generated-sources.json
              git commit -m "auto: Update to $lat_ver"
              git push
          else
              echo 'no update'
          fi
